<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-number">01</p>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-number">02</p>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-number">03</p>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-number">04</p>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <img
      class="advantages-img"
      src="./img/adv-img.jpg"
      alt="yacht-picture"
      width="100%"
      height="424"
    />
  </div>
</section>
