<footer class="footer">
  <div class="footer-anchors-container">
    <a class="footer-logo" href="">yachtjet</a>
    <ul class="footer-menu">
      <li class="footer-menu-li">
        <a class="footer-anchor" href="">About</a>
      </li>
      <li class="footer-menu-li">
        <a class="footer-anchor" href="">Yachts</a>
      </li>
      <li class="footer-menu-li">
        <a class="footer-anchor" href="">Reviews</a>
      </li>
    </ul>
  </div>
  <!-- SOCIAL LINKS -->
  <ul class="footer-links">
    <li class="footer-links-li">
      <a class="footer-link" href="">
        <svg class="footer-icon" height="20" width="20">
          <use href="../img/icons (1).svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer-links-li">
      <a class="footer-link" href="">
        <svg class="footer-icon" height="20" width="20">
          <use href="../img/icons (1).svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="footer-links-li">
      <a class="footer-link" href="">
        <svg class="footer-icon" height="20" width="20">
          <use href="../img/icons (1).svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>

  <p class="footer-motto">
    No matter which yacht you choose, our experienced crew will ensure that your
    journey is smooth and enjoyable.
  </p>

  <ul class="footer-list">
    <li>
      <p class="footer-text">2023. Yacht Adventures</p>
    </li>
    <li>
      <p class="footer-text">Privacy Police</p>
    </li>
  </ul>
</footer>
