<section class="our-yachts">
  <div class="container our-yachts-container">
    <h2 class="our-yachts-titel">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-cover">
      <picture>
        <source
          srcset="
            ../img/our-yachts/img-yaht-mob-1-min.jpg    1x,
            ../img/our-yachts/img-yaht-mob-1-2x-min.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/our-yachts/img-yaht-1-min.jpg"
          alt="arrov"
          width="345"
          height="268"
          class="our-yachts-img"
        />
      </picture>
    </div>
  </div>
</section>
//
