<section class="our-yachts" id="our-yachts">
  <div class="container our-yachts-container">
    <h2 class="our-yachts-titel">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-cover">
      <ul class="our-yachts-cover-list">
        <li class="yachts-cover-item">
          <picture class="our-yachts-cover-img">
            <source
              srcset="
                /img/our-yachts/img-yaht-1-min.jpg    1x,
                /img/our-yachts/img-yaht-1-2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-desk-1-min.jpg    1x,
                /img/our-yachts/img-yaht-desk-1-2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-tab-1-min.jpg    1x,
                /img/our-yachts/img-yaht-tab-1-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-mob-1-min.jpg    1x,
                /img/our-yachts/img-yaht-mob-1-2x-min.jpg 2x
              "
              media="(max-width: 375px)"
            />
            <img
              src="/img/our-yachts/img-yaht-1-min.jpg"
              alt="arrov"
              width="360"
              height="268"
              class="our-yachts-img"
            />
          </picture>
          <div class="our-yachts-text">
            <div class="our-yachts-text-top">
              <p class="text-top-name">Arrow</p>
              <p class="text-top-lux">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-text-bott">
              <ul class="bott-inf-list">
                <li>
                  <p class="text-bott-inf">LENGTH</p>
                </li>
                <li>
                  <p class="text-bott-inf">BUILDER</p>
                </li>
                <li>
                  <p class="text-bott-inf">BUILT</p>
                </li>
                <li>
                  <p class="text-bott-inf">GUESTS</p>
                </li>
                <li>
                  <p class="text-bott-inf">PRICE</p>
                </li>
              </ul>
              <ul class="bott-size-list">
                <li>
                  <p class="text-bott-size">48m(155ft)</p>
                </li>
                <li>
                  <p class="text-bott-size">Admiral</p>
                </li>
                <li>
                  <p class="text-bott-size">2021</p>
                </li>
                <li>
                  <p class="text-bott-size">11 in 5 cabins</p>
                </li>
                <li>
                  <p class="text-bott-size">&#8364;33,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="yachts-cover-item item-non">
          <picture class="our-yachts-cover-img">
            <source
              srcset="
                /img/our-yachts/img-yaht-2-min.jpg    1x,
                /img/our-yachts/img-yaht-2-2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-desk-2-min.jpg    1x,
                /img/our-yachts/img-yaht-desk-2-2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-tab-2-min.jpg    1x,
                /img/our-yachts/img-yaht-tab-2-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="/img/our-yachts/img-yaht-2-min.jpg"
              alt="benetti-oasis"
              width="360"
              height="268"
              class="our-yachts-img"
            />
          </picture>
          <div class="our-yachts-text-top">
            <p class="text-top-name">
              BENETTI OASIS 40<span class="top-name-sp">M B</span>...
            </p>
            <p class="text-top-lux">LUXURY YAHTS</p>
          </div>
          <div class="our-yachts-text-bott">
            <ul class="bott-inf-list">
              <li>
                <p class="text-bott-inf">LENGTH</p>
              </li>
              <li>
                <p class="text-bott-inf">SHIPYARD</p>
              </li>
              <li>
                <p class="text-bott-inf">BUILT</p>
              </li>
              <li>
                <p class="text-bott-inf">GUESTS</p>
              </li>
              <li>
                <p class="text-bott-inf">PRICE</p>
              </li>
            </ul>
            <ul class="bott-size-list">
              <li>
                <p class="text-bott-size">41m (133ft)</p>
              </li>
              <li>
                <p class="text-bott-size">Benetti</p>
              </li>
              <li>
                <p class="text-bott-size">2025</p>
              </li>
              <li>
                <p class="text-bott-size">10 in 5 cabins</p>
              </li>
              <li>
                <p class="text-bott-size">&#8364;23,210,000</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="yachts-cover-item item-non-two">
          <picture class="our-yachts-cover-img">
            <source
              srcset="
                /img/our-yachts/img-yaht-3-min.jpg    1x,
                /img/our-yachts/img-yaht-3-2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our-yachts/img-yaht-desk-3-min.jpg    1x,
                /img/our-yachts/img-yaht-desk-3-2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/img/our-yachts/img-yaht-3-min.jpg"
              alt="belle-anna"
              width="360"
              height="268"
              class="our-yachts-img"
            />
          </picture>
          <div class="our-yachts-text-top">
            <p class="text-top-name">BELLE ANNA</p>
            <p class="text-top-lux">LUXURY YAHTS</p>
          </div>
          <div class="our-yachts-text-bott">
            <ul class="bott-inf-list">
              <li>
                <p class="text-bott-inf">LENGTH</p>
              </li>
              <li>
                <p class="text-bott-inf">BUILDER</p>
              </li>
              <li>
                <p class="text-bott-inf">BUILT</p>
              </li>
              <li>
                <p class="text-bott-inf">GUESTS</p>
              </li>
              <li>
                <p class="text-bott-inf">PRICE</p>
              </li>
            </ul>
            <ul class="bott-size-list">
              <li>
                <p class="text-bott-size">50m(155ft)</p>
              </li>
              <li>
                <p class="text-bott-size">ISA</p>
              </li>
              <li>
                <p class="text-bott-size">2012</p>
              </li>
              <li>
                <p class="text-bott-size">12 in 6 cabins</p>
              </li>
              <li>
                <p class="text-bott-size">&#8364;21,000,000</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <a class="our-yachts-btn" href="#rent-a-yacht">Yacht rental</a>
  </div>
</section>
