<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-about">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="../img/img-reviews/reviews-img1.jpg"
          alt=""
          width="56"
          height="56"
        />
        <div class="reviews-content">
          <h3 class="reviews-name">John Wax</h3>
          <p class="reviews-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
