.about-us{
    margin-top: -59px;
    background-color: #0E1823;
    padding-bottom: 80px;
}

.about-us .container{
    background-color: #fbfbfb;
    display: flex;
    height: 675px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 0 20px;
    padding-top: 40px;
}


.about-us_title{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.about-us_image{
    position: relative;
    margin: 0 auto;
    border-radius: 27px;
    width: 100%;
    margin-top: -295px;
}

.about-us_middle-text{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b; 
    margin-top: 40px;
}

.about-us_bottom-text{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: rgba(4, 3, 6, 1);
    opacity: 0.4;
    margin-top: 20px;
}

@media screen and (min-width: 320px){
    .about-us{
        padding: 0 20px;
        padding-bottom: 80px;
    }

    .about-us .container{
        min-width: 280px;
    }

    .about-us_image{
        margin-top: -250px;
    }
}

@media screen and (min-width: 375px){
    .about-us{
        margin-top: -59px;
    }

    .about-us .container{
        width: 335px;
    }

    .about-us_image{
        width: 335px;
        margin-top: -295px;
    }
}

@media screen and (min-width: 768px) {
    .about-us{
        padding-bottom: 150px;
        margin-top: -67px;
    }
    
    .about-us .container{
        width: 704px;
        margin: 0 auto;
        padding: 0 32px;
        padding-top: 50px;
    }

    .about-us .container-wrap{
        width: 100%;
    }

    .about-us_title{
        font-weight: 500;
        font-size: 48px;
        max-width: 536px;
    }

    .about-us_middle-text{
        font-weight: 400;
        font-size: 23px;
        max-width: 389px;
        margin-top: 50px;
    }

    .about-us_bottom-text{
        font-weight: 400;
        font-size: 13px;
        line-height: 1.15;
        max-width: 385px;
    }

    .about-us_image{
        width: 704px;
        margin-top: -194px;
    }
}



@media screen and (min-width: 1280px){
    .about-us{
        margin-top: -35px;
        padding: 0 50px;
        padding-bottom: 150px;
    }
    
    .about-us .container{
        width: 1180px;
        padding: 0;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-us_image{
        margin: 0 auto;
        width: 1180px;
        margin-top: -315px;
    }

    .about-us .container-wrap{
        display: flex;
        padding: 0;
    }

    .about-us .container-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 189px;
        max-width: 354px;
    }

    .about-us_title{
        font-weight: 500;
        font-size: 48px;
    }

    .about-us_middle-text{
        margin-top: 0;
        font-weight: 400;
        font-size: 23px;
        letter-spacing: -0.02em;
        line-height: 1;
    }

    .about-us_bottom-text{
        font-weight: 400;
        font-size: 13px;
        line-height: 1.15
    }
}

@media screen and (min-width: 1440px) {
    .about-us{
        margin-top: -35px;
        padding: 0 50px;
        padding-bottom: 150px;
    }
    
    .about-us .container{
        width: 1340px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-us .container-wrap{
        padding: 0;
    }

    .about-us .container-content{
        max-width: 404px;
        margin-left: 299px;
    }

    .about-us .about-us_title{
        max-width: 537px;
    }

    .about-us_middle-text{
        letter-spacing: -0.02em;
    }

    .about-us_image{
        width: 1340px;
    }
    
}
    
