.footer {
  margin: 0 10px;
  padding: 40px 30px 20px 30px;

  border-radius: 24px 24px 0 0;
  background-color: #1b414b;
}

.footer-nav {
  display: flex;
  margin-bottom: 144px;

  position: relative;
}

.footer-logo {
  margin-right: 37px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  width: 100%;
}

.footer-menu-li {
  max-width: 66px;
  width: calc((100% - 8px) / 3);
  height: 40px;
}

.footer-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;
}

.footer-anchor:hover,
.footer-anchor:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

/* SOCIAL MEDIA */

.footer-links {
  position: absolute;
  top: 120px;
  /* top: 120px; така відстань не з неба та не підбором визначалася, це відстань від якірних посилань до слогану компанії мінус висота переліку соцмереж (144-24=120),
  або відстань від якірних посилань до переліку соцмереж та від переліку соцмереж до слогану компанії (80+40=120) */
  left: 50%;
  transform: translateX(-50%) scale(1);

  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  fill: #fbfbfb;
}

.footer-link:hover > .footer-icon,
.footer-link:focus > .footer-icon {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-motto {
  margin: 0 auto;
  margin-bottom: 82px;

  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

/* -------------------- */
/* MEDIA */
/* -------------------- */

@media screen and (max-width: 767px) {
  .footer-motto {
    max-width: 279px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 16px;
    padding: 50px 48px 20px 48px;
  }

  .footer-nav {
    justify-content: space-between;
    margin-bottom: 96px;
  }

  .footer-logo {
    margin-right: 110px;

    font-size: 20px;
  }

  .footer-menu {
    width: unset;
  }

  .footer-menu-li {
    max-width: 91px;
    width: 91px;
  }

  .footer-links {
    position: unset;
    transform: none;
    margin-left: 91px;
  }

  .footer-motto {
    max-width: 693px;
    margin-bottom: 99px;
    font-size: 32px;
  }

  .footer-list {
    gap: 32px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 25px;
    padding: 50px 75px 20px 75px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-motto {
    max-width: 699px;
  }
}
