

/* ============HEADER============== */



.header-page {

    top: 20px;
    background-color: #FBFBFB;
    border-radius: 10px;
    /* margin: 20px 20px 0px 20px; */
    margin: 0 auto;
    position: fixed;
    top: 20;
    left: 0;
    right: 0;
    z-index: 999999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
}

.logo-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1B414B;
    text-decoration: none;
}

.nav-page {
    display: none;
}

.header-social-list {
    display: none;
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

/* ==================Mobile Menu======================= */

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #0E1823;
    padding: 0 16px;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu-container.is-open {
    transform: translateX(0%);
    background-color: #0E1823;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin: 16px 20px auto 20px;
}

.mobile-menu-close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-close-btn-icon {
    fill: #055545;
}


.nav-social-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile-menu-nav-container {
    /* display: flex;
        flex-direction: column; */
    width: 100%;
    flex-grow: 1;
    margin-top: 201px;
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0;
    gap: 4px;
}

/* .mobile-menu-nav-item{
margin: 0 auto;
}  */

.mobile-menu-nav-item {
    height: 40px;
    margin: 0 auto;
}

.mobile-menu-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(251, 251, 251, 0.3);
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fbfbfb;
    text-decoration: none;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}


.social-media-container {

    margin:auto auto 40px auto;
}

.mobile-menu-social-item {
    list-style: none;
}

.mobile-menu-social-list {

    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.mobile-menu-social-icon {
    fill: #fbfbfb;
}

.mobile-menu-social-link:hover>.mobile-menu-social-icon,
.mobile-menu-social-link:focus>.mobile-menu-social-icon {
    fill: rgba(251, 251, 251, 0.8);
}

/* ==========MEDIA >>>>320================================= */

@media screen and (min-width: 320px){
    .header-page{
        min-width: 280px;
    }
}

/* ==========MEDIA >>>>375================================= */

@media screen and (min-width: 375px) {
    .header-page {
        max-width: 335px;
    }

    .social-media-container {
        max-width: 335px;
    }
}

/* ==========MEDIA >>>>768================================= */

@media screen and (min-width: 768px) {
    .mobile-open-btn {
        display: none;
    }

    .header-page {
        max-width: 704px;
    }

    .logo-link {
        font-size: 20px;
    }


    .nav-page {
        display: flex;

    }

    .header-container {
        padding: 0px 30px;
    }

    .page-nav-list {
        margin: 4px auto;
        padding-left: 0;
        gap: 4px;
        width: 100%;
        display: flex;
        list-style: none
    }


    .page-nav-item {
        /* max-width: 91px; */
        height: 40px;
        width: calc((100% - 8px) / 3);
        /* background-color: rgba(251, 251, 251, 0.3); */
    }

    .page-nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 91px;
        height: 100%;
        border-radius: 8px;
        /* background-color:#1b414b; */
        background-color: rgba(27, 65, 75, 0.5);
        font-size: 9px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #fbfbfb;
        text-decoration: none;
    }

    .page-nav-link:hover,
    .page-nav-link:focus {
        color: #FBFBFB;
        background-color: #1B414B;
    }

    .header-social-list {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    .header-social-icon {
        fill: #1B414B;
    }

    .header-social-link:hover>.header-social-icon {
        fill: #062730;
    }

    .header-social-link:focus>.header-social-icon {
        fill: #062730;
    }


}

/* ==========MEDIA >>>1280================================= */

@media screen and (min-width: 1280px) {

    .mobile-open-btn {
        display: none;
    }

    .header-page {
        max-width: 1080px;
    }
}

@media screen and (min-width: 1440px) {
    .header-page {
        max-width: 1240px;
    }
}